p {
    color: red;
}

.header {
    background-color: rgb(rgb(173, 121, 121), green, blue);

}

.logout-button {
    border-radius: 5px;
    width: 80px;
    height: 50px;
}

.logout-button:hover {
    background-color: red;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(220, 53, 69, 0.3);
}