<div class="login-page">
    @if (!isLoggedIn) {
    <!-- LOGIN FORM -->
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <h2>Đăng nhập</h2>
        <div class="field">
            <label>User</label>
            <input formControlName="username" placeholder="enter_username" />
            @if (form.controls.username.invalid && form.controls.username.touched) {
            <p class="error">Bắt buộc nhập tên</p>
            }
        </div>

        <div class="field">
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="••••••" />
            @if (form.controls.password.invalid && form.controls.password.touched) {
            <p class="error">Password phải &gt; 0</p>
            }
        </div>

        <button type="submit" [disabled]="form.invalid">
            <span>LOGIN</span>
        </button>
    </form>
    }
    @if (isLoggedIn) {
    <!-- WELCOME -->
    <div class="welcome-box">
        <h1>Welcome {{ username }} 👋</h1>
        <button (click)="logout()">
            Logout
        </button>

    </div>
    }
</div>