html,
body {
    height: 100%;
    margin: 0;
}

.main {
    min-height: 100vh;
    /*background-image: url("https://img.thuthuatphanmem.vn/uploads/2018/09/27/anh-nen-do-phan-giai-4k_105908693.jpg");*/
    background-size: cover;
    background-position: center;

}