<div class="rentals-page">

    <h2>Đơn hàng của tôi</h2>

    <!-- FILTER -->
    <div class="filter-section">
        <div class="search-box">
            <i class="bi bi-search"></i>
            <input type="text" placeholder="Tìm kiếm sản phẩm..." [(ngModel)]="searchTerm">
        </div>

        <select class="sort-dropdown" [(ngModel)]="sortBy">
            <option value="date">Mới nhất</option>
            <option value="price">Giá cao nhất</option>
            <option value="name">Tên A-Z</option>
        </select>
    </div>

    <!-- TABS -->
    <div class="tabs">
        <button [class.active]="activeTab === 'pending'" (click)="setTab('pending')" [attr.data-count]="currentCount">
            Chờ thanh toán
        </button>

        <button [class.active]="activeTab === 'history'" (click)="setTab('history')" [attr.data-count]="historyCount">
            Lịch sử đơn hàng
        </button>
    </div>

    <!-- EMPTY -->
    <div *ngIf="filteredRentals.length === 0" class="empty">
        <i class="bi bi-inbox"></i>
        <p>{{ searchTerm ? 'Không tìm thấy kết quả' : 'Không có đơn nào' }}</p>
    </div>

    <!-- LIST -->
    <div class="rental-list">
        <div class="rental-card" *ngFor="let r of filteredRentals">

            <div class="info">
                <h3>Mã đơn hàng: {{ r.order_code }}</h3>

                <p>
                    <i class="bi bi-calendar"> Ngày thuê: </i>
                    {{ r.startdate | date:'dd/MM/yyyy'}}
                </p>
                <p class="price">Tổng tiền thuê: {{ r.total_amount| number }} ₫</p>
                <p class="price">Tổng tiền cọc: {{ r.deposit_amount| number }} ₫</p>

                <span class="status" [class]="r.status">
                    {{ getStatusLabel(r.status) }}
                </span>
            </div>

            <div class="actions">

                <!-- Chi tiết -->
                <button class="action-btn detail" (click)="viewDetail(r.id, r.order_code)">
                    <i class="bi bi-receipt"></i>
                    Chi tiết đơn hàng
                </button>

                <div class="action-buttons">

                    <!-- Pending -->
                    <ng-container *ngIf="r.status === 'pending'">
                        <button class="action-btn pay" (click)="payRental(r)">
                            <i class="bi bi-credit-card"></i>
                            Thanh toán
                        </button>
                    </ng-container>

                    <!-- Paid or Expired -->
                    <ng-container *ngIf="r.status === 'paid' || r.status === 'expired'">
                        <button class="action-btn buy-again" (click)="buyAgain(r.id)">
                            <i class="bi bi-arrow-repeat"></i>
                            Thuê lại
                        </button>
                    </ng-container>

                </div>
            </div>

        </div>
    </div>

</div>