<footer class="footer">
    <div class="footer-container">

        <!-- Liên hệ -->
        <div class="footer-column">
            <h4>Liên hệ</h4>
            <ul>
                <li>
                    <i class="bi bi-telephone"></i>
                    <span>098.8424.735</span>
                </li>
                <li>
                    <a href="https://www.facebook.com/share/1HmHCkZYNk/?mibextid=wwXIfr" class="contact-link"
                        target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-facebook"></i>
                        <span class="contact-linkInfo">LuongEm</span>
                    </a>
                </li>
                <li>
                    <a href="https://maps.app.goo.gl/uv7ui9B1ny5nyGAJA" class="contact-link" target="_blank"
                        rel="noopener noreferrer">
                        <i class="bi bi-geo-alt"></i>
                        <span class="contact-linkInfo">AMY Studio Gò Cao, Thiện Kế, Bình Xuyên, Vĩnh Phúc</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Hỗ trợ khách hàng -->
        <div class="footer-column">
            <h4>Hỗ trợ khách hàng</h4>
            <ul>
                <li>
                    <i class="bi bi-bag-check"></i>
                    <a href="/exprent">Kinh nghiệm mua hàng</a>
                </li>
                <li>
                    <i class="bi bi-journal-text"></i>
                    <a href="/guidrent">Hướng dẫn thuê đồ</a>
                </li>
                <li>
                    <i class="bi bi-arrow-repeat"></i>
                    <a href="/spreturn">Chính sách đổi trả</a>
                </li>
                <li>
                    <i class="bi bi-credit-card"></i>
                    <a href="/payment">Hình thức thanh toán</a>
                </li>
            </ul>
        </div>

        <!-- Quy định của AMY -->
        <div class="footer-column">
            <h4>Quy định của AMY</h4>
            <ul>
                <li>
                    <i class="bi bi-clipboard-check"></i>
                    <a href="/rulesrent">Quy định thuê đồ</a>
                </li>
                <li>
                    <i class="bi bi-exclamation-diamond"></i>
                    <a href="/rulescomp">Quy định đền hàng</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        ©2026 AMY. All rights reserved.
    </div>
</footer>