<h1>FORM CREATE PRODUCT</h1>
<form [formGroup]="form" (ngSubmit)="submit()">

    <label>
        Tên sản phẩm
        <input formControlName="title" />
    </label>

    @if (form.controls.title.invalid && form.controls.title.touched) {
    <p style="color:red">Bắt buộc nhập tên</p>
    }

    <label>
        Giá
        <input type="number" formControlName="price" />
    </label>

    @if (form.controls.price.invalid && form.controls.price.touched) {
    <p style="color:red">Giá phải > 0</p>
    }

    <button type="submit" [disabled]="form.invalid">
        Lưu
    </button>
</form>